:root {
    --main: #2C3855;
    --main-dark: #435681;
    --text-color-dark: #333333;
    --text-color-light: #767268;
    --extra-color-light: #F3F4F6;
    --white: #FFFFFF;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    padding: 3rem 1rem;

    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
}

.header .logo h1 {
    color: var(--main);
}

.header .navbar ul {
    display: flex;
    gap: 2rem;
}

.header .navbar ul li {
    list-style-type: none;
}

.header .navbar ul li a {
    font-size: 1.2rem;
    color: var(--main);
    font-weight: 500;
    text-decoration: none;
}

.header .navbar ul li a:hover {
    color: var(--main-dark);
    transition: 0.2s ease-in-out;
}

.header .navbar ul li a::after {
    content: '';
    display: block;
    padding-bottom: 0.2rem;
    border-bottom: 0.1rem solid var(--main-dark);
    transform: scaleX(0);
}

.header .navbar ul li a:hover::after {
    transform: scaleX(0.5);
    transition: 0.3s ease-in-out;
}


.header .login a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 500;
    padding: 0.6rem;
    background-color: var(--main);
    border-radius: 10px;
}

#menu {
    display: none;
}

.orders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.order-card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.order-card:hover {
    transform: scale(1.05);
}

.order-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.order-details {
    padding: 15px;
}

.order-details h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #333;
}

.order-details p {
    margin: 5px 0;
    color: #555;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
}